In [7]:
import pandas as pd
df_iris = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/iris.csv")
print(df_iris.shape)
df_iris.sample(5) # Una muestra de 5 elementos

(150, 5)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
118          7.7         2.6          6.9         2.3  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
22           4.6         3.6          1.0         0.2     Iris-setosa
112          6.8         3.0          5.5         2.1  Iris-virginica
15           5.7         4.4          1.5         0.4     Iris-setosa

In [12]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

El Iris es un dataset muy conocido en la academia, que sirve bastante para comenzar dentro del mundo del Data Science. 

Tiene 5 columnas (4 numéricas y 1 categórica):
- Name: es el nombre de la especie de iris "Setosa", "Virginica" y "Versicolor"
- sepal lenght:largo del sépalo en cm
- sepal width: ancho del sépalo en cm
- pelal lenth: largo del petalo in cm
- pedal width: ancho del pétalo en cm

no hay nulos